
* {
    margin: 0;
    padding: 0
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body{font-family: 'Noto Sans KR', sans-serif;}

ul { 
    list-style: none
}

.hidden{position: absolute; width:1px; height:1px; overflow: hidden}
.inner{width: 1280px; margin: 0 auto}
.top_header{width: 100%; height: 40px; line-height: 40px; text-align: center;
            border-bottom: 1px solid #e1e1e1; font-size: 13px}

.top_header>.inner:after {
    display: inline-block;
    content: "";
    clear: both
}
.site{width: 300px; height: 40px; float: left; color: #6e6e6e; font-weight:bold}
.site:after{display: inline-block; content:""; clear:both}
.site>li{float:left; width: 32.9%; background-color: #f0f0f0; 
           border-right: 1px solid #e1e1e1}
.site>li>a{display: block; width: 100%; text-decoration: none; color: #333;}
.site>li>a:hover{background-color: #333; color: #fff}
.site>li:nth-child(3)>select{width: 100%; height:40px; border: none;
                             background-color: #f0f0f0; color: #6e6e6e; font-weight: bold}

.util{width: 300px; float: right}
.util>li{width: 25%; float: left}
.util:after{display: inline-block; content: ""; clear: both}
.util>li:before{display: inline-block; content: ""; width: 1px; height: 10px; 
                 background-color: #e1e1e1; margin: 0 10px 0 0}
.util>li:nth-child(1):before{display: none}
.util>li:nth-child(1){width: 20%; padding-left: 5%}

.bottom_header{width: 100%; height:100px; text-align: center; 
              border-bottom: 1px solid #e1e1e1; font-size: 15px; position: relative}
.bottom_header>.inner:after{display: inline-block; content:""; clear:both}
.menu{width: 420px; float: left; margin-top: 40px}
.menu>li{float: left; width: 22%; padding: 0 2%}
.menu:after{display: inline-block; content: ""; clear: both}
.menu>li:first-child{padding: 0}
.menu>li:last-child{padding: 0}
.menu>li>a{display: block; text-decoration: none; color: #333}
.menu_sub{width: 100%; opacity: 0}
.menu_sub>li>a{display: block; font-size:14px; font-weight:bold; line-height: 30px;
	                text-align:center; text-decoration: none; 
	                background-color:#ababab; 
	                color:#ffffff; }
.menu>li:hover .menu_sub{opacity: 1; transition: 0.5s}
.logo{position: absolute; margin: 0 auto; width: 255px; height: 71px; top: 15%;
      left: 15%; right: 15%}
.sub_menu{float: right; margin-top:40px}
.sub_menu:after{display: inline-block; content: ""; clear: both}
.sub_menu>.side{width: 322px; float: left}
.sub_menu>.side>li{float: left; padding-right: 30px}
.sub_menu>.side>li>i{vertical-align: middle; padding-right: 5px}
.sub_menu>.search{float: left; padding: 0 30px}
.sub_menu>.m_menu{float: left}

#mainimg{width: 100%; height:620px; background-image: url(../img/mainimg_sub.jpg); 
         background-repeat: no-repeat; background-size: cover; background-position: center center}

.process{width: 1280px; margin: 0 auto}
.process_title{width: 100%; height:80px; position:relative; text-align: center}
.process_title:before{content:""; display: block; position: absolute; width:100%; height: 1px;
                  background-color: #333; top: 120px}
.process_title h2{position: absolute; width: 20%; background-color: #fff; top:100px; left: 35%; right: 35%;margin: 0 auto; padding: 0 55px; font-size: 30px; font-weight: bold}

.process_con{width: 1110px; height: 600px; margin: 0 auto; margin-top: 110px}
.process_con>div{width: 380px; height: 221px; margin-right:15px; 
                background-image: url(../img/arrow.png); background-position: right center; 
                background-repeat: no-repeat; float: left}
.process_con:after{display: inline-block; content: ""; clear: both}
.process_con>div:nth-child(3),div:nth-child(5){background: none}
.process_con>div:nth-child(3){width:300px}
.process_con>div:nth-child(4),div:nth-child(5){margin-top: 20px}


.merit{width: 1280px; height: 700px; margin: 0 auto}
.merit_box:after{display: inline-block; content: ""; clear: both}
.merit h3{width:100%; height:40px; background-color: #fff; font-size: 25px; 
          font-weight: bold; margin-bottom:10px}
.merit_con1{float: left; width: 48%; height: 450px;  
            background-color:darkslateblue; color: #fff}
.merit_con1 h4{padding: 50px 0 0 65px; font-size: 40px; font-weight: bold}
.merit_con1 p{padding: 25px 0 0 65px; font-size: 25px }


.merit_con2{float: right; width: 48%; height: 450px; 
            background-color: dodgerblue; color: #fff}
.merit_con2 h4{padding: 50px 0 0 65px; font-size: 40px; font-weight: bold}
.merit_con2 p{padding: 25px 0 0 65px; font-size: 25px }







#footer{width:100%; height: 295px; background-color: #1e1f21; clear: both;}

.top_footer{height: 73px; line-height: 73px; border-bottom: 1px solid #303133; font-size: 12px; color: #5e605d}
.top_footer>.inner>ul{width: 1000px; float: left}
.top_footer>.inner:after{content= ""; display: inline-block; clear:both}
.top_footer>.inner>ul>li{float: left; margin-right: 32px}
.top_footer>.inner>ul>li:nth-child(2){color:#fff}

.bottom_footer{height: 170px; color:#999999; padding-top: 42px; font-size: 8px}
.bottom_footer>.inner:after{content:""; display: inline-block; clear:both}
.bottom_footer>.inner>.f_logo, .copyright{float:left}
.bottom_footer>.inner>.copyright{margin-left: 54px}
.bottom_footer>.inner>.copyright>ul>li{position: relative; padding-left: 115px }
.bottom_footer>.inner>.copyright>ul>li>span{position: absolute; left: 0}
.bottom_footer>.inner>.copyright>ul>li>p{margin-top: 36px; color: #9a9a9c}
.bottom_footer>.inner>.info{float:right; color:#0a9784; font-size:17px}}
.bottom_footer>.inner>.info>ul:after{content:""; display: inline-block; clear:both}
.bottom_footer>.inner>.info>ul>li{float: left}
.bottom_footer>.inner>.info>ul>li:before{content:"|"; display: inline; padding: 0 10px}
.bottom_footer>.inner>.info>ul>li:first-child:before{content:""}

@media (max-width:768px){
    .menu {
        display: none;
    }

    .sub_menu > .side {
        display: none
    }

    .sub_menu > .search {
        display: none
    }

    .sub_menu > .m_menu {
        float: none;
        position: absolute;
        top: 5%;
        left: 2%;
    }

    .logo {
        width: 30%;
        line-height: 132px;
        
    }

    .logo img {
        width: 100%;
    }
    
    
    .subject_title h2 {
         width: 35%;
        left: 0;
        right: 0
    }
    #board_set{line-height: revert;
                height: 100px;}
    #board_set>h2{float: none}
    #board_set>p{float: none;
                line-height: 40px}
    #board_set>ul{float: none}
    
    .top_footer > .inner > ul {
        display: none
    }
}

@media (max-width:1279px){
 .inner {
        width: 100%
    }

    #header {
        position: relative;
        height: 132px;
    }

    .top_header {
        display: none
    }

    .bottom_header {
        border-bottom: 0
    }

    .menu {
        float: none;
        margin: 0 auto;
        padding-top: 100px
    }

    .sub_menu > .side {
        display: none
    }

    .sub_menu > .search {
        display: none
    }

    .sub_menu > .m_menu {
        float: none;
        position: absolute;
        top: 20%;
        left: 2%;
    }

    #mainimg {
        background-image: url(../img/mainimg_sub_mobile.jpg);
        height: 0;
        padding-top: calc(1045/768*100%)
    }
    .process{
        width:100%
    }
    .process_title>h2{
        width: 20%;
        left: 0; right: 0;
    }
    .process_con{
        width: 100%;
    }
    .process_con>div{
        width: 100%;
        background: none;
        margin-top: 40px
    }
    .process_con>div>img{
        width: 50%;
        margin: 0 25%;
       
    }
    .process_con>div:nth-child(3){
        width: 100%
    }
    .merit{
        width: 100%
    }
    .merit>h3{width: 50%;            
    }
    .merit_box>.merit_con1{
        width: 80%;
        margin: 10% 10%;
 
            
    }
    .merit_box>.merit_con2{
         width: 80%;
        margin:0 10%
    }
            
     .top_footer {
        border: 0;
        padding-top: 5%;

    }
    .top_footer > .inner > ul{width: auto}
    .top_footer > .inner > ul > li {
        width: 25%;
        text-align: center;
        line-height: normal;
        padding-right: 0;
        margin: 5px 0;
    }

    .bottom_footer {
        position: relative;
        height: 73px;
        margin-top: 0
    }

    .bottom_footer > .inner > .copyright > ul > li {
        float: left;
        width: 25%;
        position: unset;
        padding-left: 0;
        font-weight: bold;
        color: #b8b8b8
    }

    .bottom_footer > .inner > .copyright > ul > li > span {
        position: unset;
        left: auto;
        display: inline-block;
        padding-right: 5px;
        font-weight: normal;
        color: #868686;
    }

    .bottom_footer > .inner > .f_logo {
        display: none
    }

    .bottom_footer > .inner > .copyright {
        float: none;
        position: absolute;
        top: 55%;
        left: 10%;
        right: 10%;
        margin: 0 auto;
        text-align: center;
        width: 80%
    }

    .bottom_footer > .inner > .info {
        display: none
    }

}


